.App {
  background-color: #fffffe;
  min-height: 100vh;
  text-align: center;
}
.App-header {
  align-items: center;
  background-color: #094067;
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-Img {
  width: 50px;
}

.App-header-navbar-menu {
  background-color: #094067;
}

.App-header-navbar-menu p {
  color: #fffffe;
}

.App-header-navbar-menu-buttons a {
  background-color: #094067;
}

.App-link {
  color: #61dafb;
}

.App--Login {
  background-color: #094067;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App--Login-login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4em 10em 4em 10em;
  max-height:400px;
  padding: 5em;
}

.App--Login-login-form input {
  margin-top: 0.5em;
}

.App--Certified {
  background-color: #fffffe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App--Certified-Status {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .App--Login-login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height:400px;
  }
}

@media screen and (max-width: 930px) {
  .App--Certified {
    background-color: #fffffe;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .App--Certified-List {
    padding: 1px;
    margin: 0.5em;
  }
}

.App--Certified-List {
  padding: 1px;
  margin: 0.5em;
  min-width: 55vh;
  max-width: 55vh;
}

.App--Certified-Not-Found {
  min-width: 50vh;
}

.App--Certified-Footer {
  color: white;
  background-color:#3da9fc;
  bottom: 0;
  border-radius: 50%;
  clear: both;
  display:block;
  height: 10vh;
  margin: 2em;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 10vh;
}

.App--Register-register-div {
  display: flex;
  justify-content: center;
}

.App--Register-register-form {
  margin: 1em;
}

.App--Register-register-form h1 {
  text-align: center;
}

.App--Update-register-buttons button {
  margin-left: 1em;
}

.App--Details-details-main-div {
  display: flex;
  justify-content: center;
}

.App--Details-details-main-div h1 {
  text-align: center;
}

.App--Details-details-div-img {
  text-align: center;
}

.App--Details-details-img {
  max-width: 80%;
}

.App--Details-details-form {
  max-width: 110vh;
}